{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h2>Settings</h2>

    <div style="font-size: 18px; text-align: center; margin-top: 5rem;">
        <p>Email: {{ user.email }}</p>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="btn link-secondary" type="submit">Log Out</button>
        </form>
    </div>

    <div style="font-size: 16px; text-align: right; margin-top: 25rem;">
        <a href="#" style="color: red;">Delete Account</a>
    </div>
</div>
{% endblock %}
