{% extends 'base.html' %}

{% block body %}
<div class="container">
    <form method="post" style="margin-top: 15rem;" >
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" id="link" name="link" placeholder="Enter your link">
        </div>

        {% if error %}
        <div class="form-group text-danger" style="margin-top: 1rem; text-align: center;">
            {{error}}
        </div>
        {% endif %}

        <div class="form-group" style="margin-top: 1rem; text-align: center;">
            <button type="submit" class="btn btn-primary">Create Short URL</button>
        </div>
      </form>

</div>
{% endblock %}
